@model ElleganzaPlatform.Application.ViewModels.Store.CartViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Shopping Cart";
}

<!-- page-title -->
<div class="tf-page-title">
    <div class="container-full">
        <div class="heading text-center">Shopping Cart</div>
    </div>
</div>
<!-- /page-title -->

<!-- page-cart -->
<section class="flat-spacing-11">
    <div class="container">
        @if (Model.Items.Count == 0)
        {
            <div class="tf-page-cart text-center mt_140 mb_200">
                <h5 class="mb_24">Your cart is empty</h5>
                <p class="mb_24">You may check out all the available products and buy some in the shop</p>
                <a href="/shop" class="tf-btn btn-sm radius-3 btn-fill btn-icon animate-hover-btn">Return to shop<i class="icon icon-arrow1-top-left"></i></a>
            </div>
        }
        else
        {
            <div class="tf-cart-countdown">
                <div class="title-left">
                    <svg class="d-inline-block" xmlns="http://www.w3.org/2000/svg" width="16" height="24"
                        viewBox="0 0 16 24" fill="rgb(219 18 21)">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M10.0899 24C11.3119 22.1928 11.4245 20.2409 10.4277 18.1443C10.1505 19.2691 9.64344 19.9518 8.90645 20.1924C9.59084 18.2379 9.01896 16.1263 7.19079 13.8576C7.15133 16.2007 6.58824 17.9076 5.50148 18.9782C4.00436 20.4517 4.02197 22.1146 5.55428 23.9669C-0.806588 20.5819 -1.70399 16.0418 2.86196 10.347C3.14516 11.7228 3.83141 12.5674 4.92082 12.8809C3.73335 7.84186 4.98274 3.54821 8.66895 0C8.6916 7.87426 11.1062 8.57414 14.1592 12.089C17.4554 16.3071 15.5184 21.1748 10.0899 24Z">
                        </path>
                    </svg>
                    <p>These products are limited, checkout within </p>
                </div>
                <div class="js-countdown timer-count" data-timer="600" data-labels="d:,h:,m:,s"></div>
            </div>
            <div class="tf-page-cart-wrap">
                <div class="tf-page-cart-item">
                    <form>
                        <table class="tf-table-page-cart">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Items)
                                {
                                    <tr class="tf-cart-item file-delete" data-product-id="@item.ProductId">
                                        <td class="tf-cart-item_product">
                                            <a href="/product/@item.ProductId" class="img-box">
                                                <img src="@(string.IsNullOrEmpty(item.ImageUrl) ? "/images/products/placeholder.jpg" : item.ImageUrl)" alt="@item.ProductName">
                                            </a>
                                            <div class="cart-info">
                                                <a href="/product/@item.ProductId" class="cart-title link">@item.ProductName</a>
                                                <div class="cart-meta-variant">@item.ProductSku</div>
                                                <span class="remove-cart link remove" data-product-id="@item.ProductId">Remove</span>
                                            </div>
                                        </td>
                                        <td class="tf-cart-item_price tf-variant-item-price" cart-data-title="Price">
                                            <div class="cart-price price">$@item.UnitPrice.ToString("F2")</div>
                                        </td>
                                        <td class="tf-cart-item_quantity" cart-data-title="Quantity">
                                            <div class="cart-quantity">
                                                <div class="wg-quantity">
                                                    <span class="btn-quantity btndecrease" data-product-id="@item.ProductId">
                                                        <svg class="d-inline-block" width="9" height="1"
                                                            viewBox="0 0 9 1" fill="currentColor">
                                                            <path
                                                                d="M9 1H5.14286H3.85714H0V1.50201e-05H3.85714L5.14286 0L9 1.50201e-05V1Z">
                                                            </path>
                                                        </svg>
                                                    </span>
                                                    <input type="text" name="number" value="@item.Quantity" data-product-id="@item.ProductId">
                                                    <span class="btn-quantity btnincrease" data-product-id="@item.ProductId">
                                                        <svg class="d-inline-block" width="9" height="9"
                                                            viewBox="0 0 9 9" fill="currentColor">
                                                            <path
                                                                d="M9 5.14286H5.14286V9H3.85714V5.14286H0V3.85714H3.85714V0H5.14286V3.85714H9V5.14286Z">
                                                            </path>
                                                        </svg>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="tf-cart-item_total tf-variant-item-total" cart-data-title="Total">
                                            <div class="cart-total price">$@item.TotalPrice.ToString("F2")</div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="tf-page-cart-footer">
                    <div class="tf-cart-footer-inner">
                        <div class="tf-free-shipping-bar">
                            <div class="tf-progress-bar">
                                <span style="width: @((Model.SubTotal / 200m * 100).ToString("F0"))%;"><div class="progress-car"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="14" viewBox="0 0 21 14" fill="currentColor"><path d="M0.5 13V3H5.5V0.5H15.2071L17.5 2.79289V5H19.5C20.0523 5 20.5 5.44772 20.5 6V13H17.5C17.5 10.7909 15.7091 9 13.5 9C11.2909 9 9.5 10.7909 9.5 13H5.5C5.5 10.7909 3.70914 9 1.5 9C0.947715 9 0.5 9.44771 0.5 10V13ZM13.5 10.5C14.8807 10.5 16 11.6193 16 13H11C11 11.6193 12.1193 10.5 13.5 10.5ZM1.5 10.5C2.88071 10.5 4 11.6193 4 13H0.5V10.5H1.5Z"></path></svg></div></span>
                            </div>
                            @if (Model.SubTotal >= 200)
                            {
                                <div class="tf-progress-msg">
                                    You have unlocked <b class="text-primary">free shipping!</b>
                                </div>
                            }
                            else
                            {
                                <div class="tf-progress-msg">
                                    Buy <span class="price fw-6">$@((200 - Model.SubTotal).ToString("F2"))</span> more to enjoy <span class="fw-6">Free Shipping</span>
                                </div>
                            }
                        </div>
                        <div class="tf-page-cart-note">
                            <label for="cart-note">Add Order Note</label>
                            <textarea name="note" id="cart-note" placeholder="How can we help you?"></textarea>
                        </div>
                        <div class="tf-page-cart-checkout">
                            <div class="shipping-calculator">
                                <summary class="accordion-shipping-header d-flex justify-content-between align-items-center collapsed" data-bs-target="#shipping" data-bs-toggle="collapse" aria-controls="shipping">
                                    <h3 class="shipping-calculator-title">Estimate Shipping</h3>
                                    <span class="shipping-calculator_accordion-icon"></span>
                                </summary>
                                <div class="collapse" id="shipping">
                                    <div class="accordion-shipping-content">
                                        <fieldset class="field">
                                            <label class="label" for="shipping-calculator-country">Country/region</label>
                                            <div class="select-wrapper">
                                                <select class="tf-select w-100" id="shipping-calculator-country" name="address[country]" data-default="">
                                                    <option value="---" data-provinces="[]">---</option>
                                                    <option value="United States" data-provinces="[['Alabama', 'Alabama'], ['Alaska', 'Alaska'], ['American Samoa', 'American Samoa'], ['Arizona', 'Arizona'], ['Arkansas', 'Arkansas']]">United States</option>
                                                    <option value="Canada" data-provinces="[['Alberta', 'Alberta'], ['British Columbia', 'British Columbia'], ['Manitoba', 'Manitoba'], ['New Brunswick', 'New Brunswick'], ['Newfoundland and Labrador', 'Newfoundland and Labrador'], ['Northwest Territories', 'Northwest Territories'], ['Nova Scotia', 'Nova Scotia'], ['Nunavut', 'Nunavut'], ['Ontario', 'Ontario'], ['Prince Edward Island', 'Prince Edward Island'], ['Quebec', 'Quebec'], ['Saskatchewan', 'Saskatchewan'], ['Yukon', 'Yukon']]">Canada</option>
                                                </select>
                                            </div>
                                        </fieldset>
                                        <fieldset class="field">
                                            <label class="label" for="shipping-calculator-province">Province</label>
                                            <div class="select-wrapper">
                                                <select class="tf-select w-100" id="shipping-calculator-province" name="address[province]" data-default="">
                                                    <option value="---">---</option>
                                                </select>
                                            </div>
                                        </fieldset>
                                        <fieldset class="field">
                                            <label class="label" for="shipping-calculator-zip">Zip/Postal Code</label>
                                            <div class="select-wrapper">
                                                <input class="field-input tf-input" type="text" id="shipping-calculator-zip" name="address[zip]" autocapitalize="characters">
                                            </div>
                                        </fieldset>
                                        <button class="tf-btn w-100 justify-content-center fw-6 btn-fill radius-3 animate-hover-btn" type="button">
                                            <span>Estimate</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between line pb_20">
                                <h6 class="fw-5">Subtotal</h6>
                                <h6 class="total fw-5">$@Model.SubTotal.ToString("F2")</h6>
                            </div>
                            <div class="d-flex justify-content-between line pb_20">
                                <h6 class="fw-5">Tax</h6>
                                <h6 class="total fw-5">$@Model.TaxAmount.ToString("F2")</h6>
                            </div>
                            <div class="d-flex justify-content-between line pb_20">
                                <h6 class="fw-5">Shipping</h6>
                                <h6 class="total fw-5">@(Model.ShippingAmount > 0 ? "$" + Model.ShippingAmount.ToString("F2") : "Free")</h6>
                            </div>
                            <div class="d-flex justify-content-between line pb_20">
                                <h6 class="fw-5">Total</h6>
                                <h6 class="total fw-5">$@Model.TotalAmount.ToString("F2")</h6>
                            </div>
                            <p class="tf-btn-check-note">Taxes and <a href="#">shipping</a> calculated at checkout</p>
                            <a href="/checkout" class="tf-btn radius-3 btn-fill btn-icon animate-hover-btn justify-content-center">
                                <span>Proceed to checkout</span>
                            </a>
                            <div class="tf-page-cart_imgtrust">
                                <p class="text-center fw-6">Guarantee Safe Checkout</p>
                                <div class="cart-list-social">
                                    <div class="payment-item">
                                        <svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-visa"><title id="pi-visa">Visa</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><path d="M28.3 10.1H28c-.4 1-.7 1.5-1 3h1.9c-.3-1.5-.3-2.2-.6-3zm2.9 5.9h-1.7c-.1 0-.1 0-.2-.1l-.2-.9-.1-.2h-2.4c-.1 0-.2 0-.2.2l-.3.9c0 .1-.1.1-.1.1h-2.1l.2-.5L27 8.7c0-.5.3-.7.8-.7h1.5c.1 0 .2 0 .2.2l1.4 6.5c.1.4.2.7.2 1.1.1.1.1.1.1.2zm-13.4-.3l.4-1.8c.1 0 .2.1.2.1.7.3 1.4.5 2.1.4.2 0 .5-.1.7-.2.5-.2.5-.7.1-1.1-.2-.2-.5-.3-.8-.5-.4-.2-.8-.4-1.1-.7-1.2-1-.8-2.4-.1-3.1.6-.4.9-.8 1.7-.8 1.2 0 2.5 0 3.1.2h.1c-.1.6-.2 1.1-.4 1.7-.5-.2-1-.4-1.5-.4-.3 0-.6 0-.9.1-.2 0-.3.1-.4.2-.2.2-.2.5 0 .7l.5.4c.4.2.8.4 1.1.6.5.3 1 .8 1.1 1.4.2.9-.1 1.7-.9 2.3-.5.4-.7.6-1.4.6-1.4 0-2.5.1-3.4-.2-.1.2-.1.2-.2.1zm-3.5.3c.1-.7.1-.7.2-1 .5-2.2 1-4.5 1.4-6.7.1-.2.1-.3.3-.3H18c-.2 1.2-.4 2.1-.7 3.2-.3 1.5-.6 3-1 4.5 0 .2-.1.2-.3.2M5 8.2c0-.1.2-.2.3-.2h3.4c.5 0 .9.3 1 .8l.9 4.4c0 .1 0 .1.1.2 0-.1.1-.1.1-.1l2.1-5.1c-.1-.1 0-.2.1-.2h2.1c0 .1 0 .1-.1.2l-3.1 7.3c-.1.2-.1.3-.2.4-.1.1-.3 0-.5 0H9.7c-.1 0-.2 0-.2-.2L7.9 9.5c-.2-.2-.5-.5-.9-.6-.6-.3-1.7-.5-1.9-.5L5 8.2z" fill="#142688"></path></svg>
                                    </div>
                                    <div class="payment-item">
                                        <svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-paypal"><title id="pi-paypal">PayPal</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><path fill="#003087" d="M23.9 8.3c.2-1 0-1.7-.6-2.3-.6-.7-1.7-1-3.1-1h-4.1c-.3 0-.5.2-.6.5L14 15.6c0 .2.1.4.3.4H17l.4-3.4 1.8-2.2 4.7-2.1z"></path><path fill="#3086C8" d="M23.9 8.3l-.2.2c-.5 2.8-2.2 3.8-4.6 3.8H18c-.3 0-.5.2-.6.5l-.6 3.9-.2 1c0 .2.1.4.3.4H19c.3 0 .5-.2.5-.4v-.1l.4-2.4v-.1c0-.2.3-.4.5-.4h.3c2.1 0 3.7-.8 4.1-3.2.2-1 .1-1.8-.4-2.4-.1-.5-.3-.7-.5-.8z"></path><path fill="#012169" d="M23.3 8.1c-.1-.1-.2-.1-.3-.1-.1 0-.2 0-.3-.1-.3-.1-.7-.1-1.1-.1h-3c-.1 0-.2 0-.2.1-.2.1-.3.2-.3.4l-.7 4.4v.1c0-.3.3-.5.6-.5h1.3c2.5 0 4.1-1 4.6-3.8v-.2c-.1-.1-.3-.2-.5-.2h-.1z"></path></svg>
                                    </div>
                                    <div class="payment-item">
                                        <svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" width="38" height="24" role="img" aria-labelledby="pi-master"><title id="pi-master">Mastercard</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><circle fill="#EB001B" cx="15" cy="12" r="7"></circle><circle fill="#F79E1B" cx="23" cy="12" r="7"></circle><path fill="#FF5F00" d="M22 12c0-2.4-1.2-4.5-3-5.7-1.8 1.3-3 3.4-3 5.7s1.2 4.5 3 5.7c1.8-1.2 3-3.3 3-5.7z"></path></svg>
                                    </div>
                                    <div class="payment-item">
                                        <svg xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="pi-american_express" viewBox="0 0 38 24" width="38" height="24"><title id="pi-american_express">American Express</title><path fill="#000" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3Z" opacity=".07"></path><path fill="#006FCF" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32Z"></path><path fill="#FFF" d="M22.012 19.936v-8.421L37 11.528v2.326l-1.732 1.852L37 17.573v2.375h-2.766l-1.47-1.622-1.46 1.628-9.292-.02Z"></path><path fill="#006FCF" d="M23.013 19.012v-6.57h5.572v1.513h-3.768v1.028h3.678v1.488h-3.678v1.01h3.768v1.531h-5.572Z"></path><path fill="#006FCF" d="m28.557 19.012 3.083-3.289-3.083-3.282h2.386l1.884 2.083 1.89-2.082H37v.051l-3.017 3.23L37 18.92v.093h-2.307l-1.917-2.103-1.898 2.104h-2.321Z"></path><path fill="#FFF" d="M22.71 4.04h3.614l1.269 2.881V4.04h4.46l.77 2.159.771-2.159H37v8.421H19l3.71-8.421Z"></path><path fill="#006FCF" d="m23.395 4.955-2.916 6.566h2l.55-1.315h2.98l.55 1.315h2.05l-2.904-6.566h-2.31Zm.25 3.777.875-2.09.873 2.09h-1.748Z"></path><path fill="#006FCF" d="M28.581 11.52V4.953l2.811.01L32.84 9l1.456-4.046H37v6.565l-1.74.016V6.677l-1.663 4.844h-1.64l-1.658-4.844v4.844h-2.066Z"></path></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<!-- /page-cart -->

@section Scripts {
    <script>
        // Cart interaction handlers with AJAX
        document.addEventListener('DOMContentLoaded', function() {
            
            // Helper function to update cart totals in UI
            function updateCartTotals(data) {
                if (data.subTotal !== undefined) {
                    document.querySelector('.tf-page-cart-checkout .d-flex.justify-content-between:nth-child(2) .total').textContent = '$' + data.subTotal.toFixed(2);
                }
                if (data.taxAmount !== undefined) {
                    document.querySelector('.tf-page-cart-checkout .d-flex.justify-content-between:nth-child(3) .total').textContent = '$' + data.taxAmount.toFixed(2);
                }
                if (data.shippingAmount !== undefined) {
                    const shippingElement = document.querySelector('.tf-page-cart-checkout .d-flex.justify-content-between:nth-child(4) .total');
                    shippingElement.textContent = data.shippingAmount > 0 ? '$' + data.shippingAmount.toFixed(2) : 'Free';
                }
                if (data.totalAmount !== undefined) {
                    document.querySelector('.tf-page-cart-checkout .d-flex.justify-content-between:nth-child(5) .total').textContent = '$' + data.totalAmount.toFixed(2);
                }
            }

            // Helper function to update cart count in current page and header
            function updateCartCountLocal(count) {
                const cartCountElements = document.querySelectorAll('.count-box');
                cartCountElements.forEach(el => {
                    el.textContent = count;
                });
                // Also update global cart count if function exists
                if (typeof updateCartCount === 'function') {
                    updateCartCount();
                }
            }

            // Remove item from cart
            document.querySelectorAll('.remove-cart').forEach(btn => {
                btn.addEventListener('click', function(e) {
                    e.preventDefault();
                    const productId = this.getAttribute('data-product-id');
                    
                    if (!confirm('Are you sure you want to remove this item?')) {
                        return;
                    }

                    // Make AJAX call to remove item
                    fetch(`/cart/remove/${productId}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'RequestVerificationToken': document.querySelector('input[name="__RequestVerificationToken"]')?.value || ''
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            // Remove the cart item row from UI
                            const cartRow = document.querySelector(`.tf-cart-item[data-product-id="${productId}"]`);
                            if (cartRow) {
                                cartRow.remove();
                            }

                            // Update totals
                            updateCartTotals(data);
                            updateCartCountLocal(data.cartCount);

                            // If cart is empty, reload page to show empty cart message
                            if (data.cartCount === 0) {
                                window.location.reload();
                            }
                        } else {
                            alert(data.message || 'Failed to remove item from cart');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('An error occurred while removing the item');
                    });
                });
            });

            // Update quantity - decrease
            document.querySelectorAll('.btndecrease').forEach(btn => {
                btn.addEventListener('click', function(e) {
                    e.preventDefault();
                    const productId = this.getAttribute('data-product-id');
                    const input = document.querySelector(`input[data-product-id="${productId}"]`);
                    let quantity = parseInt(input.value);
                    
                    if (quantity > 1) {
                        quantity--;
                        updateCartQuantity(productId, quantity, input);
                    }
                });
            });

            // Update quantity - increase
            document.querySelectorAll('.btnincrease').forEach(btn => {
                btn.addEventListener('click', function(e) {
                    e.preventDefault();
                    const productId = this.getAttribute('data-product-id');
                    const input = document.querySelector(`input[data-product-id="${productId}"]`);
                    let quantity = parseInt(input.value);
                    
                    quantity++;
                    updateCartQuantity(productId, quantity, input);
                });
            });

            // Function to update cart quantity via AJAX
            function updateCartQuantity(productId, quantity, inputElement) {
                fetch('/cart/update', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'RequestVerificationToken': document.querySelector('input[name="__RequestVerificationToken"]')?.value || ''
                    },
                    body: JSON.stringify({
                        productId: parseInt(productId),
                        quantity: quantity
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Update input value
                        inputElement.value = quantity;

                        // Update item total price
                        const cartRow = document.querySelector(`.tf-cart-item[data-product-id="${productId}"]`);
                        if (cartRow) {
                            const unitPrice = parseFloat(cartRow.querySelector('.tf-cart-item_price .price').textContent.replace('$', ''));
                            const totalPrice = unitPrice * quantity;
                            cartRow.querySelector('.tf-cart-item_total .price').textContent = '$' + totalPrice.toFixed(2);
                        }

                        // Update cart totals
                        updateCartTotals(data);
                        updateCartCountLocal(data.cartCount);
                    } else {
                        alert(data.message || 'Failed to update cart item');
                        // Revert input value on error
                        inputElement.value = inputElement.getAttribute('data-previous-value') || 1;
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred while updating the cart');
                    // Revert input value on error
                    inputElement.value = inputElement.getAttribute('data-previous-value') || 1;
                });
            }

            // Handle manual input changes
            document.querySelectorAll('.wg-quantity input[type="text"]').forEach(input => {
                input.addEventListener('change', function() {
                    const productId = this.getAttribute('data-product-id');
                    let quantity = parseInt(this.value);
                    
                    if (isNaN(quantity) || quantity < 1) {
                        quantity = 1;
                        this.value = 1;
                    }
                    
                    updateCartQuantity(productId, quantity, this);
                });
            });
        });
    </script>
}
